 /* Style général du body */
 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-repeat:round;
    
    perspective: 1000px; /*im Appliquer la perspective globale */
    
}
.menubuto{
    color: #0175f0;
    font-size: 60px;
}
.menubuto:focus{
    border: none;
    display: none;
}
/* Conteneur de la navbar */
.navbar {
    background-color:rgba(215, 213, 213, 0);
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 0;
}
.icondamn{
    padding: 6px;
    border-radius: 5px;
    margin: 0px;
}
.logo img {
    width: 90px;
    height: 40px;
}

/* Liens de la navbar 
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar-nav li {
    margin: 0 20px;
    display: flex;
}

.navbar-nav a {
    color: #0175f0;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-nav a:hover {
    color: #3b3b3c;

} */


.logo {
    color: #0175f0;
}



/* Style du texte */
.bienvenu h1 {
    font-size: 60px;
    top: 20px;
    color: #f1f1f1;
    font-weight: 900;
    text-shadow:4px 4px 4px  #f8f7f62f ;
    animation: sileDown 3s;
    text-align: center;

}
/*.strartpage{
    margin-left: 300px;
}
.imgeLogo img {
    width: 350px;
    height: 150px;
    margin-left: 20px;
    animation: sileDown2 4s;
    border-radius: 8px;
    margin: 20px;

    
}
.logologo{
    display: flex;
    flex-direction: row;
}*/
.imgeLogo img {
    width: 350px;
    height: 150px;
    margin-left: 20px;
    animation: sileDown2 4s;
    border-radius: 8px;
    margin: 20px;

    
}
.descrip p {
    margin: 40px;
    font-size: larger;
    color: #ffffff;
    font-weight: bolder;
    animation: sileDown 6s;
    text-align: center;
    width: 65%;
    margin-left: 200px;


}
.bouto b{
    background-color: rgb(252, 250, 250);
    border-radius: 15px;
    font: 22px sans-serif;
    padding: 10px 40px;
    margin: 70px;
    box-shadow: 4px 4px 4px inset #a2a2a2;
    animation: sileDown 10s;
    margin-left: 300px;


}
.bouto b:hover{
    background-color: #a2a2a2;
    border-radius: 15px;
    font: 22px sans-serif;
    padding: 10px 30px;
    margin: 70px;
    box-shadow: 4px 4px 4px inset rgb(252, 250, 250);
    margin-left: 300px;

}
.bouto a {
    color: black;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    animation: sileDown 10s;


}

@keyframes sileDown {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(20px);
        opacity: 1;
    }}
@keyframes sileDown2 {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }}

@media screen and (min-width:320px) and (max-width:768px){

.strartpage{
    display: flex;
    flex-direction: column;
    margin-left: auto;


}
.mabororo{
    margin-right: 1.rem !important;
    margin-left: 1.rem !important;
}

.logologo{
    display: flex;
    flex-direction: column;
}
@keyframes sileDown2 {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }}
.imgeLogo img {
    width: 250px;
    height: 120px;
    animation: sileDown2 4s;
    margin-left: 58px;


}
.bienvenu h1 {
    font-size: 50px;
    top: 20px;
    color: #f7f7f7;
    margin-right: 10px;
    font-weight: 800;
    text-shadow:4px 4px 4px  #f8f7f62f ;

}
@keyframes sileDown {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }}
.baniere{height: 100px;}

.descrip p {
    margin: 20px 30px;
    font-size: 14px;
    color: #f4f4f4;
    font-weight: 600;
    width: 90%;
    text-align: start;

}

.bouto b{
    background-color: rgb(252, 250, 250);
    border-radius: 15px;
    font: 22px sans-serif;
    padding: 10px 45px;
    margin: 70px;
    box-shadow: 4px 4px 4px inset #969696;
    animation: sileDown2 7s;

}

}
@media screen and (min-width:770px) and (max-width:1200px){
    .strartpage{
        margin-left: 90px;
    }
}
@media screen and (min-width:770px) and (max-width:940px){
    .strartpage{
        margin-left: 40px;
    }
    .descrip p {
        margin: 40px;
        font-size: larger;
        color: #f6f4f4;
        font-weight: bolder;
        animation: sileDown 6s;
        text-align: center;
        width: 65%;
        margin-left: 100px;
    
    
    }
}
@media screen and (min-width:770px) and (max-width:1200px){

    .strartpage{
        display: flex;
        flex-direction: column;
        margin-left: auto;
    
    
    }
    .mabororo{
        margin-right: 1.rem !important;
        margin-left: 1.rem !important;
    }
    
    .logologo{
        display: flex;
        flex-direction: column;
    }
    @keyframes sileDown2 {
        0% {
            transform: translateX(200px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }}
    .imgeLogo img {
        width: 250px;
        height: 120px;
        animation: sileDown2 4s;
        margin-left: 98px;

    
    
    }
    .bienvenu h1 {
        font-size: 50px;
        top: 10px;
        color: #f7f7f7;
        margin-right: 10px;
        font-weight: 800;
        text-shadow:4px 4px 4px  #f8f7f62f ;
    
    }
    @keyframes sileDown {
        0% {
            transform: translateY(200px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }}
    .baniere{height: 150px;}
    
    .descrip p {
        margin: 20px 30px;
        font-size: 14px;
        color: #f4f4f4;
        font-weight: 600;
        width: 90%;
        text-align: start;
    
    }
    
    .bouto b{
        background-color: rgb(252, 250, 250);
        border-radius: 15px;
        font: 22px sans-serif;
        padding: 10px 45px;
        margin: 70px;
        box-shadow: 4px 4px 4px inset #969696;
        animation: sileDown2 7s;
    
    }
    
    }
